.idea
/Source/ProstheticNoMissingBodyParts/.idea/
/Source/ProstheticNoMissingBodyParts/bin/
/Source/ProstheticNoMissingBodyParts/obj/
/Source/ProstheticNoMissingBodyParts/packages/
/Source/ProstheticNoMissingBodyParts/ProstheticNoMissingBodyParts.sln.DotSettings.user
